

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lewebpedagogique.com/eldoradog/files/2015/04/image.jpg);">
  <div class="container">
    <h1 class="text-center mb-2 m-16" style="height: 5vh"> <strong>Combat Aquatique 1st ED</strong> </h1>
    <div class="container">
    <p class="text-center m-16 mb-2">Créez vos combattants d'eau douce et faites les s'affronter!</p>
    <h2 class="text-center m-16 mb-3"><%= link_to "Commencer le jeu!", characters_path,  class: "btn btn-flat" %></h2>
    </div>
  </div>
</div>

<div class="container">
  <% if Fight.all.length == 0 %>
   <h1 class="text-center m-16" style=" margin: 45px;">Pas de Parties jouées</h1>
   <div class="text-center">
    <%= link_to "Nouveau combat !", new_fight_path,  class: "btn btn-flat" %>
   </div>
  <% else %>
    <h2 class="text-center m-16" style=" margin: 45px;"> Dernieres parties jouées</h2>
    <% Fight.all.last(5).each do |fight| %>
      <%= link_to fight_path(fight) do %>
        <% if fight.players.length == 2 %>
          <div class="combat">
            <p class="text-center m-16 mb-4"> <%= "#{fight.players[0].character.name }   contre   #{fight.players[1].character.name }" %> </p>
          </div>
        <% end %>
      <% end %>
    <% end %>   <div class="text-center">
    <%= link_to "Nouveau Combat !", new_fight_path,  class: "btn btn-danger btn-flat" %>
   </div>
  <% end %>
</div>
